:root {
  --blanco: #ffffff;
  --azul: #3768a7;
  --azul-oscuro: #224177;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-family: var(--textFont);
}
h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
p {
  font-size: 2.3rem;
}

table {
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  font-size: 5rem;
  background-color: var(--gris2);
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 30%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
  font-size: 1.2rem;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, var(--azul-oscuro), var(--azul));
}
.container {
  position: relative;
  width: 80%;
  float: right;
  height: 100vh;
}

.container__formulario {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.container__formulario-campo {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  font-size: 1.2rem;
  margin: 10px 0;
}
.container__formulario-campo:last-of-type {
  margin: 0;
}
.container__formulario-campo label {
  flex: 0 0 100px;
  font-family: var(--textFont);
  font-size: 1.4rem;
}
.container__formulario-campo input[type="password"],
.container__formulario-campo input[type="email"],
.container__formulario-campo input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
  font-size: 1.4rem;
}

.container__formulario-campo::placeholder {
  font-size: 1.4rem;
}

.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn--primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn--primario:hover {
  background: var(--gris3);
}
.btn--secundario {
  background-color: var(--gris1);
}
.btn--block {
  display: block;
  width: 100%;
}
.btn--submit:hover {
  background-color: var(--gris2);
}
.btn--blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.alert--error {
  color: red;
  font-size: 1.2rem;
}

.notification-toast {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 2rem;
}

.formulario__usuario {
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__table {
  padding: 5rem 3rem;
  max-width: 700px;
  width: 95%;
  background-color: var(--blanco);
  border-radius: 1rem;
}
.container__table table {
  border-collapse: collapse;
}
.container__table table thead {
  background-color: rgba(203, 219, 233, 1);
}
.table__row:nth-child(even) {
  background-color: rgba(203, 219, 233, 0.4);
}
.container__table--item {
  font-size: 1.8rem;
  margin: 10px 0;
}
.container__table--item div {
  display: flex;
  margin: 1px 0;
  padding: 2px;
  align-items: center;
  justify-content: center;
}
.container__table--header {
  font-size: 2rem;
}
.icon__container {
  width: 50px;
  border-radius: 20px;
  height: 50px;
}

.icon__container--user {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.m-10 {
  margin: 10px 0;
}
.container__table--empty {
  font-size: 2.6rem;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  background-color: rgba(203, 219, 233, 1);
  padding: 10px;
  border-radius: 10px;
}
